.block{
  padding: rem(30px) 0;
}
.header-block{
  padding: rem(10px) 0;
}
.header-block .headline {
  text-align: center;
  margin-bottom: 5px;
  font-family: $font-family--primary;
  font-size: 18px;
  letter-spacing: 2px;
}
