.cover{
  position: relative;
  height: 260px;
  overflow: hidden;
  border-radius: 3px;
  @include mq(lg){
    height: calc(85vh - 70px);
  }
  @include e(wrapper){
    height: 100%;
  }
  a{
    display: block;
    height: 100%;
  }
  @include e(img){
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  @include e(overlay){
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(-98deg, rgba(36, 50, 65, 0.082) 0%,
    rgba(36, 50, 65, 0.082) 10%, rgba(36, 50, 65, 0.082) 20%,
    rgba(36, 50, 65, 0.082) 30%, rgba(36, 50, 65, 0.09) 40%,
    rgba(36, 50, 65, 0.216) 50%, rgba(36, 50, 65, 0.424) 60%,
    rgba(36, 50, 65, 0.63) 70%, rgba(36, 50, 65, 0.76) 80%,
    rgba(36, 50, 65, 0.824) 90%, rgba(36, 50, 65, 0.847) 100%);
  }
  @include e(info){
    position: absolute;
    bottom: 30px;
    left: 30px;
    max-width: 55%;
  }
  @include e(smtext){
    color: $white;
    margin-bottom: rem(20px);
    text-transform: uppercase;
    font-size: rem(12px);
    letter-spacing: 1.5px;
  }
  @include e(title){
    font-size: rem(18px);
    line-height: 24px;
    font-weight: bold;
    color: $white;
    letter-spacing: 3px;
    @include mq(md){
      font-size: rem(36px);
      line-height: 44px;
    }
  }
  @include e(infobar){
    color: $white;
    margin-top: rem(20px);
    font-size: rem(12px);
    letter-spacing: 1.5px;
  }
}
