%headline{
  text-align: center;
  font-family: $font-family--primary;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 17px 0;
}

header{
  @extend %shadow;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
}

.logo{
  a{
    float: left;
  }
  img{
    width: 60px;
  }
}

.headline {
  @extend %headline;
  display: none;
  @include mq(sm){
    display: block;
  }
  @include m(sm){
    @extend %headline;
    font-size: 14px;
    display: block;
    padding: 20px 0;
    border: 1px solid $border-color;
    @include mq(sm){
      display: none;
    }
  }
}

.nav{
  text-align: center;
  li{
    display: inline-block;
    margin: 1px 0 5px 10px;
    @include mq(sm){
      float: right;
      margin: 18px 0 18px 10px;
    }
    a{
      color: $text-gray;
      display: inline-block;
      font-size: 14px;
      &:hover{
        color:$red;
        text-decoration: none;
      }
    }
  }
}

.promo{
  height: 200px;
  @include m(left){
    float: left;
    width: 70%;
  }
  @include m(right){
    float: right;
    width: 30%;
  }
}