header{
  height: 70px;
  border-bottom: 1px solid #E6EAEA;
  padding: 20px;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.logo{
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
