.card {
  background: $white-alt;
  width: 100%;
  height: 376px;
  float: left;
  overflow: hidden;
  padding: rem(20px);
  border: 1px solid $border-color;
  border-left: 0;
  border-top: 0;
  position: relative;
  &:nth-child(3n){
    border-right: 0;
    margin-right: 0;
  }
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: $white;
  }
  @include mq(sm){
    width: 33.33%;
  }
  @include mq(md){
    height: 400px;
  }
  &:hover{
    cursor:pointer;
  }
  a{
    display: block;
    color: $black;
    text-decoration: none;
  }
  @include e(img){
    display: block;
    width: 100%;
    height: 180px;
    overflow: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @include mq(md){
      height: 175px;
    }
  }
  @include e(info){
    padding-top: 20px;
  }
  @include e(title){
    font-size: 20px;
  }
  @include e(infobar){
    margin-top: 5px;
    li{
      float: left;
      font-size: 14px;
      color: $text-gray;
      &:after{
        content: "|";
        margin: 0 5px;
        display: inline;
      }
      &:last-child:after{
        content: "";
      }
    }
  }
  @include e(para){
    font-size: 14px;
    margin-top: 20px;
    height: 56px;
    overflow: hidden;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.stories{
  h2{
    @extend %header;
  }
}
.news{
  .card{
    @include mq(md){
      width: 20%;
      height: 300px;
      @include e(img){
        height: 100px;
      }
      @include e(info){
        padding-top: 10px;
      }
      @include e(title){
        font-size: 16px;
      }
      &:nth-child(3n){
        border-right: 1px solid $border-color;
      }
      &:nth-child(5n){
        border-right: 0;
      }
    }
  }
}

.original-link {
  float: right;
  color: $text-gray;
  display: inline-block;
  margin-top: 18px;
}

#pulse-content-frame {
  position:absolute;
  width: 70%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 100px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255,0,0, 0.2);
  border-right: 1.1em solid rgba(255,0,0, 0.2);
  border-bottom: 1.1em solid rgba(255,0,0, 0.2);
  border-left: 1.1em solid #ff0000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.only-for-article{
  overflow: hidden;
}
