.card {
  background: $white-alt;
  width: 100%;
  height: 376px;
  float: left;
  overflow: hidden;
  padding: rem(20px);
  border: 1px solid $border-color;
  border-left: 0;
  border-top: 0;
  position: relative;
  &:nth-child(3n){
    border-right: 0;
    margin-right: 0;
  }
  &:after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: $white;
  }
  @include mq(sm){
    width: 33.33%;
  }
  @include mq(md){
    height: 400px;
  }
  &:hover{
    cursor:pointer;
  }
  a{
    display: block;
    color: $black;
    text-decoration: none;
  }
  @include e(img){
    display: block;
    width: 100%;
    height: 180px;
    overflow: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @include mq(md){
      height: 175px;
    }
  }
  @include e(info){
    padding-top: 20px;
  }
  @include e(title){
    font-size: 20px;
  }
  @include e(infobar){
    margin-top: 5px;
    li{
      float: left;
      font-size: 14px;
      color: $text-gray;
      &:after{
        content: "|";
        margin: 0 5px;
        display: inline;
      }
      &:last-child:after{
        content: "";
      }
    }
  }
  @include e(para){
    font-size: 14px;
    margin-top: 20px;
    height: 56px;
    overflow: hidden;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.stories{
  h2{
    text-align: left;
    position: relative;
    text-transform: uppercase;
    line-height: 1;
    padding-left: 20px;
    span{
      display: inline-block;
      background: $bg-gray;
      // padding: 0 rem(30px);
      font-weight: bold;
      font-size: rem(14px);
      letter-spacing: 2px;
      &:after{
        background: $color-text;
        width: 25%;
        height: 2px;
      }
    }
  }
}
.news{
  .card{
    @include mq(md){
      width: 20%;
      height: 300px;
      @include e(img){
        height: 100px;
      }
      @include e(info){
        padding-top: 10px;
      }
      @include e(title){
        font-size: 16px;
      }
    }
    &:nth-child(3n){
      border-right: 1px solid $border-color;
    }
    &:nth-child(5n){
      border-right: 0;
    }
  }
}
